@import './main.scss';

.bg-home {
    background-image: url('./assets/backgroundhome.png');
    height: 87%;
    filter: brightness(.5);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
}

.container-home {
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 87%;
}

.emoji {
    font-family: $emoji;
}