@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

@font-face {
    font-family: "Emoji";
    src: url("./assets/AppleColorEmoji.ttf");
}

$font: "Jost";
$emoji: "Emoji";

* {
    font-family: $font;
}
body {
    min-height: 100vh;
}